<button (click)="getData()">ClickMe</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">todo</th>
      <th scope="col">completed</th>
      <th scope="col">userId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of todos.todos">
      <td>
        {{ country.id }}
      </td>
      <td>
        {{ country.todo }}
      </td>
      <td>{{ country.completed }}</td>
      <td>{{ country.userId }}</td>
    </tr>
  </tbody>
</table>
