<section>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary" routerLink="about">About us</button>
    <button mat-raised-button color="accent" routerLink="contact">Contact us</button>
    <button mat-raised-button color="warn" routerLink="user/30">user</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>


<router-outlet></router-outlet>