


div#legend {

    text-align: center;
    width: 100px;
    background-color: yellow;
    position: absolute;
    /* top: 29px; */
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin: auto;
}