<div class="sealded-bid-uc">
  <div class="subcontainer">
    <div class="row padding-left-sealed-bid-uc">
      <div class="col-lg-12 col-md-12">
        <h2>Submitter Information</h2>
      </div>
    </div>
  </div>

  <div class="subcontainer">
    <div class="row padding-left-sealed-bid-uc">
      <div class="col-lg-6 col-md-6">
        <span>*</span>
        <label>Bidding Institution:</label>
        <div>
          <input type="text" />
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <span>*</span>
        <label>Authorized Title:</label>
        <div>
          <input type="text" />
        </div>
      </div>
    </div>

    <div class="row padding-left-sealed-bid-uc">
      <div class="col-lg-6 col-md-6">
        <span>*</span>
        <label>Authorized Name:</label>
        <div>
          <input type="text" />
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <span>*</span>
        <label>Authorized E-mail:</label>
        <div>
          <input type="text" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sealded-bid-uc">
  <div class="subcontainer">
    <div class="row padding-left-sealed-bid-uc">
      <div class="col-lg-12 col-md-12">
        <h2>Bidding Information</h2>
      </div>
    </div>
  </div>

  <div class="subcontainer">
    <div class="row padding-left-sealed-bid-uc">
      <p>
        After entering a bid percentage or amount, click outside the field to
        automatically calculate the corresponding percentage or amount for that
        pool.
      </p>
      <h6>Individual Pool Bids</h6>
      <div class="row padding-left-sealed-bid-uc sealed-bid-uc-column">
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading">Pool</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading">Balance</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading">Bid%</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading">Bid$</div>
      </div>

      <div class="row padding-left-sealed-bid-uc sealed-bid-uc-column-first">
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-first">Pool 1</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-first">$20,000,000</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-first">          
            <input type="text" />
        </div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-first">            
            <input type="text" />
        </div>
      </div>
       <hr class="hrline"/>

       
      <div class="row padding-left-sealed-bid-uc sealed-bid-uc-column-first">
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">Pool 2 Description</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">$200,000</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">          
            <input type="text" />
        </div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">            
            <input type="text" />
        </div>
      </div>
       <hr class="hrline"/>

       <div class="row padding-left-sealed-bid-uc sealed-bid-uc-column-first">
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">Total Portfolio:</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">$20,200,000</div>
       
      </div>
       <hr class="hrline"/>

        
      <div class="row padding-left-sealed-bid-uc sealed-bid-uc-column-first">
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">Total Bid on Individual Pools:</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">$0</div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">          
            0.0000%
        </div>
        <div class="col-lg-3 col-md-3 sealed-bid-uc-column-heading-row-second">            
            $0
        </div>
      </div>











  
    </div>

  
   
  </div>
</div>
