
<a href="https://www.simplilearn.com/tutorials/angular-tutorial/angular-pipes">Reference Article </a>
<!-- BASIC PIPES : 

  WHY TO USE PIPES
  1)to beautify the data
  2)It displays human readable format


-->

<h1>
  {{ title | uppercase }}
  <hr/>
  {{ title | slice: 3:8 }}

  <hr/>

  {{ myname | json | uppercase }}
  <hr/>

  {{ 5000 | currency: "INR" }}

  The hero's birthday is {{ birthday | date }} 
  <hr/>
  
  Name: {{ myname | slice: 2 }} 
  <hr/>

  <p>The hero's birthday is {{ birthday | date: "MM/dd/yy" }}</p>
</h1>
